[Unit]
Description=Stream RTSP Video

[Service]
ExecStart=/usr/local/bin/v4l2rtspserver -M224.0.0.1:20000 -F15 -H300 -W300 -P8555 /dev/video0
Restart=always
RestartSec=5
User=pi
Group=users
SupplementaryGroups=dialout video

[Install]
WantedBy=multi-user.target
