[Unit]
Description=Stream RTSP Video

[Service]
ExecStart=/usr/local/bin/v4l2rtspserver -F15 -H720 -W1280 -P8555 /dev/video0
Restart=always
RestartSec=5
User=pi
Group=users
SupplementaryGroups=dialout video

[Install]
WantedBy=multi-user.target
